:root {
  --dim-grey: #4f4f55;
  --black-velvet: #242030;
  --white: white;
  --light-grey: #cecfd8;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  width: 100%;
  color: var(--dim-grey);
  margin-top: 0;
  margin-bottom: 16px;
  font-family: Red Hat Display, sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
}

h2 {
  width: 100%;
  color: var(--dim-grey);
  text-align: left;
  margin-top: 24px;
  margin-bottom: 16px;
  font-family: Red Hat Text, sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
}

h3 {
  color: var(--dim-grey);
  margin-top: 32px;
  margin-bottom: 16px;
  font-family: Red Hat Text, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

h4 {
  color: var(--dim-grey);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Red Hat Text, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

p {
  color: var(--dim-grey);
  margin-bottom: 32px;
  font-family: Red Hat Text, sans-serif;
  font-size: 24px;
  line-height: 32px;
}

a {
  text-decoration: underline;
}

.body {
  color: #4f4f55;
  font-family: Red Hat Text, sans-serif;
}

.header {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.herotext {
  width: 100%;
  max-width: 1680px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.location {
  justify-content: center;
  align-items: center;
  margin-top: 0;
  display: flex;
}

.locationtext {
  margin-left: 12px;
  font-family: Red Hat Text, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
}

.container {
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 96px 0;
  display: flex;
}

.container.containerclient {
  z-index: 1;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 64px;
  display: flex;
  position: relative;
}

.container.columns {
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.container.columns.profile {
  align-items: flex-start;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.container.columns.switchcolumns {
  flex-direction: row-reverse;
}

.container.columns.ratings {
  padding: 0;
  display: none;
}

.container.columns.siden-dashboard {
  align-items: flex-start;
  padding-top: 192px;
  padding-bottom: 0;
}

.container.containerdescription {
  align-items: center;
  padding-top: 192px;
}

.container.containerfooter {
  padding-top: 192px;
  padding-bottom: 0;
}

.container.gsu-embed-container {
  grid-column-gap: 96px;
  grid-row-gap: 96px;
}

.container.gsu-embed-container.clearpaddingbottom, .container.gsu-embed-container {
  padding-bottom: 0;
}

.headerclient {
  height: 400px;
  margin-top: 80px;
  padding-left: 48px;
  padding-right: 48px;
  position: relative;
  overflow: hidden;
}

.headerclient.siden {
  background-color: var(--black-velvet);
}

.headerclient.iflix {
  background-image: linear-gradient(45deg, #c81a7a, #ed1c24);
}

.headerclient.edgelabs {
  background-image: url('../images/Project-Header2x.jpg');
  background-position: 0 0;
  background-size: cover;
}

.headerclient.getsetup {
  background-color: #181b56;
}

.projectlogo {
  height: 80px;
}

.section {
  padding: 0 48px;
}

.section.sectioncompanies {
  background-color: #f8f9fc;
  padding-bottom: 0;
}

.section.footer {
  background-color: #333337;
  display: flex;
}

.section.sectionprofile {
  padding-bottom: 0;
}

.section.iflixconcepts {
  background-image: url('../images/iflix-section-background-middle3x.jpg'), linear-gradient(#ed1c24, #c81a7a);
  background-position: 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
}

.section.background4-0 {
  background-image: url('../images/background-4.03x.jpg');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.section.nav {
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.section.sidencenterfold {
  max-height: 700px;
  background-image: linear-gradient(135deg, #e42a62, #fe9a3d);
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.section.gsu-centerfold {
  background-color: #181b56;
  position: relative;
  overflow: hidden;
}

.paragraph1 {
  font-size: 40px;
  line-height: 52px;
}

.paragraph1.textcenter {
  width: 100%;
  text-align: center;
}

.recentprojects {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 96px;
}

.textcenter {
  text-align: center;
}

.column {
  padding-left: 0;
  padding-right: 0;
}

.column.profileimage {
  align-self: flex-end;
}

.column.profilecontent {
  padding-bottom: 96px;
}

.button {
  border: 2px solid var(--dim-grey);
  background-color: var(--white);
  color: var(--dim-grey);
  text-align: center;
  padding: 16px 32px;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  transition: color .3s, background-color .3s;
}

.button:hover {
  background-color: var(--dim-grey);
  color: var(--white);
}

.button.disabled {
  border: 2px dashed var(--light-grey);
}

.paragraph4 {
  font-size: 18px;
  line-height: 26px;
}

.paragraph4.flexexpand {
  flex: 1;
}

.clientlogo {
  height: 40px;
  margin: 24px;
}

.clientlogos {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  display: flex;
}

.contacts {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 192px;
  display: flex;
}

.contact {
  width: 112px;
  height: 112px;
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: 112px;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  margin-right: 12px;
  font-family: Icomoon, sans-serif;
  font-size: 48px;
  line-height: 48px;
  text-decoration: none;
  transition: background-color .8s;
  display: flex;
}

.contact:hover {
  color: var(--dim-grey);
  background-color: #fff;
}

.footerparagraph {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
}

.column1 {
  padding: 32px 48px 32px 0;
}

.column1.reversepadding, .column2 {
  padding-left: 48px;
  padding-right: 0;
}

.column2.reversepadding {
  padding-left: 0;
  padding-right: 48px;
}

.cover-heading {
  margin-top: 32px;
  margin-bottom: 32px;
}

.indicatorcontainer {
  width: 24px;
  height: 64px;
  position: absolute;
  bottom: 48px;
}

.indicator {
  width: 24px;
  height: 24px;
  border: 3px solid var(--dim-grey);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  position: absolute;
  bottom: 0;
}

.header-image {
  width: 720px;
  height: 576px;
  display: inline-block;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: -3%;
}

.header-image.edgelabs {
  z-index: 0;
  width: 100%;
  height: auto;
  top: -25%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.header-image.getsetup {
  width: 735px;
  height: auto;
  top: 0;
}

.image-container {
  position: relative;
}

.image-container.imagecenter {
  justify-content: center;
  display: flex;
}

.moreprojectscaption {
  color: #fff;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}

.moreprojectsthumb {
  box-shadow: 0 64px 128px rgba(0, 0, 0, .1), 0 32px 64px rgba(0, 0, 0, .12), 0 16px 32px rgba(0, 0, 0, .14), 0 8px 16px rgba(0, 0, 0, .16);
}

.moreprojects {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 24px;
}

.iflix3-0-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
}

.video2-5-2 {
  z-index: -1;
  width: 73.2%;
  height: 60.5%;
  position: absolute;
  top: 12.9%;
  left: 19.5%;
}

.video2-5-1 {
  width: 85.1%;
  height: 64%;
  position: absolute;
  top: 14.5%;
  left: .5%;
}

.video4-0 {
  z-index: 0;
  width: 60.1%;
  height: 86.55%;
  position: absolute;
  top: 6.8%;
  left: 19.5%;
}

.image-2 {
  z-index: 1;
  position: relative;
}

.paragraph2 {
  font-size: 20px;
  line-height: 28px;
}

.cover-logo {
  margin-top: 32px;
  margin-bottom: 32px;
  display: block;
}

.nav {
  height: 80px;
  background-color: #fff;
}

.navlogo {
  color: var(--dim-grey);
  align-items: center;
  font-family: Red Hat Text, sans-serif;
  font-size: 32px;
  line-height: 32px;
  text-decoration: none;
  display: flex;
}

.navlogo.w--current {
  opacity: 0;
}

.navcontacts {
  margin-right: -8px;
}

.icon {
  font-family: Icomoon, sans-serif;
}

.icon.iconlocation {
  font-size: 32px;
  line-height: 32px;
}

.navcontact {
  color: var(--dim-grey);
  background-color: #fff;
  border: 2px solid rgba(10, 102, 194, 0);
  border-radius: 100px;
  padding: 12px;
  font-family: Icomoon, sans-serif;
  font-size: 32px;
  line-height: 32px;
  text-decoration: none;
  transition: border .8s, color .8s;
}

.navcontact:hover {
  border-color: var(--dim-grey);
  color: var(--dim-grey);
}

.clearpadding {
  padding: 0;
}

.extrapaddingtop {
  padding-top: 192px;
}

.extrapaddingbottom {
  padding-bottom: 192px;
}

.videosidentv {
  width: 90%;
  height: 68%;
  position: absolute;
  top: 14.5%;
  left: 5%;
}

.videosidenandroid {
  width: 36%;
  height: 85%;
  position: absolute;
  top: 8%;
  left: 32%;
}

.videosideniphone {
  width: 30.3%;
  height: 87.2%;
  position: absolute;
  top: 6%;
  left: 35%;
}

.deviceandroid, .devicetv {
  display: inline-block;
  position: relative;
}

.project {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.edgelabs-bubbles {
  width: 100%;
}

.screen-edgelabs {
  z-index: -1;
  width: 73.2%;
  height: 60.5%;
  position: absolute;
  top: 13%;
  bottom: auto;
  left: 19.5%;
  right: auto;
  overflow: hidden;
}

.edgelabs-website-screenhot {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.edgelabs-buckitdream {
  z-index: -1;
  width: 72.3%;
  height: 54.9%;
  position: absolute;
  top: 10.1%;
  left: 13.7%;
  overflow: hidden;
}

.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.list {
  width: 90%;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.rating-columns {
  align-items: center;
  display: flex;
}

.ratingcontainer {
  width: 100%;
  height: 8px;
  background-color: #e8e9ed;
  overflow: hidden;
}

.rating {
  width: 80%;
  height: 100%;
  background-color: var(--dim-grey);
}

.rating.rating1, .rating.rating2 {
  width: 100%;
}

.rating.rating3 {
  width: 90%;
}

.rating.rating4, .rating.rating5 {
  width: 80%;
}

.rating.rating6 {
  width: 70%;
}

.rating.rating7, .rating.rating8 {
  width: 50%;
}

.columns {
  padding-left: 24px;
  padding-right: 24px;
}

.ratingcolumn {
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.screen-caption {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
}

.references {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 64px;
  grid-template-rows: auto;
}

.reference-avatar {
  width: 64px;
}

.referee {
  align-items: center;
  display: flex;
}

.reference-name {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  display: flex;
}

.referee-name {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Red Hat Text, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.referee-position {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}

.reference {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.quotations {
  z-index: -1;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 96px;
  display: block;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.paragraphlink {
  border-bottom: 1px solid var(--dim-grey);
  color: var(--dim-grey);
  text-decoration: none;
}

.deviceanimation {
  width: 32px;
  height: 32px;
}

.projectactions {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  display: flex;
}

.grid3 {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.shadow64 {
  box-shadow: 0 32px 64px rgba(0, 0, 0, .03), 0 16px 32px rgba(0, 0, 0, .03), 0 8px 16px rgba(0, 0, 0, .03), 0 4px 8px rgba(0, 0, 0, .03), 0 2px 4px rgba(0, 0, 0, .03), 0 1px 2px rgba(0, 0, 0, .03);
}

.shadow64.rounded16 {
  border-radius: 16px;
  overflow: hidden;
}

.shadow64.rounded16.gsu-mobile-image {
  max-width: 360px;
}

.shadow64.roundedtop8 {
  border-radius: 8px 8px 0 0;
}

.shadow64.rounded8 {
  border-radius: 8px;
}

.shadow64.gsu-visitor-landing {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;
}

.shadow64.gsu-embed-aol {
  width: 50%;
}

.gsu-mobile-image {
  max-width: 360px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  display: flex;
}

.clearpaddingbottom {
  padding-bottom: 0;
}

.clearpaddingtop {
  padding-top: 0;
}

.textwhite {
  color: var(--white);
}

.embed-2 {
  width: 50%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  display: flex;
}

.grid-2 {
  grid-column-gap: 96px;
  grid-row-gap: 96px;
  flex-direction: row;
  grid-template-rows: auto;
  display: flex;
}

.grid-3 {
  grid-template-rows: auto;
}

.embed-logos {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  display: flex;
}

.clearmargin {
  margin: 0;
}

.margin-xhuge {
  margin: 8rem;
}

.text-weight-bold {
  font-weight: 700;
}

.icon-height-small {
  height: 1rem;
}

.background-color-black {
  color: #f5f5f5;
  background-color: #000;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.form_message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.text-size-small {
  font-size: .875rem;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.margin-0 {
  margin: 0;
}

.text-weight-xbold {
  font-weight: 800;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, rgba(45, 64, 234, .1), rgba(255, 255, 255, 0));
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: stretch;
  display: grid;
  position: relative;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-0 {
  padding: 0;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.text-size-tiny {
  font-size: .75rem;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.background-color-white {
  background-color: #fff;
}

.icon-1x1-small {
  width: 1rem;
  height: 1rem;
  flex: none;
}

.text-align-right {
  text-align: right;
}

.text-size-large {
  font-size: 1.5rem;
}

.spacer-tiny {
  width: 100%;
  padding-top: .125rem;
}

.fs-styleguide_item-header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 2rem;
}

.overflow-visible {
  overflow: visible;
}

.text-weight-medium {
  font-weight: 500;
}

.fs-styleguide_background {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.form_checkbox-icon {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  background-size: 90%;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_2-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.icon-height-large {
  height: 3rem;
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.fs-styleguide_4-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.fs-styleguide_section-header {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid #000;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.margin-small {
  margin: 1rem;
}

.text-size-regular {
  font-size: 1rem;
}

.padding-xsmall {
  padding: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.icon-height-medium {
  height: 2rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  border-width: .25rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.padding-custom3 {
  padding: 3.5rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.margin-xxhuge {
  margin: 12rem;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.fs-styleguide_spacer-box {
  width: 100%;
  background-color: rgba(45, 64, 234, .1);
  border: 1px dashed #2d40ea;
  position: relative;
}

.margin-huge {
  margin: 6rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.fs-styleguide_heading-large {
  font-size: 6rem;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.margin-medium {
  margin: 2rem;
}

.text-color-white {
  color: #fff;
}

.margin-xxlarge {
  margin: 5rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.text-weight-semibold {
  font-weight: 600;
}

.padding-small {
  padding: 1rem;
}

.text-color-black {
  color: #000;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.text-color-grey {
  color: gray;
}

.heading-style-h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.text-align-center {
  text-align: center;
}

.text-style-link {
  color: #000;
  text-decoration: underline;
}

.margin-xsmall {
  margin: .5rem;
}

.heading-style-h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.text-style-italic {
  font-style: italic;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_label {
  color: #fff;
  background-color: #2d40ea;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem .3rem;
  font-weight: 600;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: #be4aa5;
}

.fs-styleguide_label.is-hex {
  color: #000;
  background-color: #f5f5f5;
}

.fs-styleguide_3-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-size-medium {
  font-size: 1.25rem;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.text-align-left {
  text-align: left;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.margin-custom2 {
  margin: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.overflow-auto {
  overflow: auto;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.fs-styleguide_item-wrapper {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.form_component {
  margin-bottom: 0;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.form_input {
  min-height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.margin-tiny {
  margin: .125rem;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.padding-large {
  padding: 3rem;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.fs-styleguide_version {
  z-index: 5;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.text-weight-light {
  font-weight: 300;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.padding-xxsmall {
  padding: .25rem;
}

.text-style-nowrap {
  white-space: nowrap;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .25rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.fs-styleguide_empty-box {
  z-index: -1;
  height: 3rem;
  min-width: 3rem;
  background-color: rgba(45, 64, 234, .05);
  border: 1px dashed #2d40ea;
  position: relative;
}

.padding-xxhuge {
  padding: 12rem;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.spacer-xsmall {
  width: 100%;
  padding-top: .5rem;
}

.background-color-grey {
  background-color: #f5f5f5;
}

.text-style-muted {
  opacity: .6;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-medium {
  padding: 2rem;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.spacer-large {
  padding-top: 3rem;
}

.fs-styleguide_header {
  background-color: rgba(0, 0, 0, .05);
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.fs-styleguide_1-col {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.form_message-success {
  padding: 1.25rem;
}

.padding-huge {
  padding: 6rem;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.fs-styleguide_color.is-3 {
  background-color: #fff;
}

.fs-styleguide_color.is-1 {
  background-color: #000;
}

.fs-styleguide_color.is-2 {
  background-color: #f5f5f5;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.button-2 {
  color: #fff;
  text-align: center;
  background-color: #000;
  padding: .75rem 1.5rem;
  font-weight: 600;
}

.button-2.is-secondary {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #000;
  border-bottom-width: .125rem;
}

.button-2.is-text {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button-2.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button-2.is-large {
  padding: 1rem 2rem;
}

.button-2.is-small {
  padding: .5rem 1.25rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.margin-large {
  margin: 3rem;
}

.padding-tiny {
  padding: .125rem;
}

.fs-styleguide_spacing-all {
  display: none;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.heading-style-h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.hide {
  display: none;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.gsu-circle {
  width: auto;
  height: 400px;
  position: absolute;
  top: auto;
  bottom: -25%;
  left: auto;
  right: -10%;
}

.gsu-landing-scroll {
  height: 880px;
  position: relative;
  overflow: scroll;
}

.visitor-landing-image {
  width: 100%;
}

.gsu-embeds-description {
  color: var(--white);
  margin-bottom: 0;
  font-size: 20px;
  line-height: 28px;
}

.gsu-landing-container {
  flex-direction: column;
  display: flex;
}

.gsu-mobile-description {
  font-size: 20px;
  line-height: 28px;
}

.gsu-landing-info {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
}

.gsu-embed-columns, .div-block {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  display: flex;
}

.gsu-original-grid {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.gsu-original-container {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  display: flex;
  width: 100%;
}

.gsu-original {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  display: flex;
}

@media screen and (min-width: 1440px) {
  a {
    color: var(--dim-grey);
    text-decoration: none;
  }

  .headerclient {
    height: 480px;
  }

  .button.disabled {
    cursor: default;
    border-style: dashed;
  }

  .button.disabled:hover {
    background-color: var(--white);
    color: var(--dim-grey);
  }

  .paragraph2 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 56px;
    line-height: 64px;
  }

  h2 {
    font-size: 48px;
    line-height: 56px;
  }

  h3 {
    width: 100%;
    font-size: 32px;
    line-height: 40px;
  }

  .container {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .container.containerclient {
    padding-bottom: 48px;
  }

  .container.columns {
    flex-direction: column-reverse;
  }

  .container.columns.profile {
    flex-direction: column;
  }

  .container.columns.switchcolumns {
    flex-direction: column-reverse;
  }

  .container.columns.switchcolumns.extrapaddingbottom {
    padding-bottom: 96px;
  }

  .container.columns.extrapaddingbottom.iflix4-0 {
    flex-direction: column;
  }

  .container.columns.extrapaddingtop {
    padding-top: 96px;
  }

  .container.columns.ratings {
    flex-direction: row-reverse;
  }

  .container.columns.siden-dashboard {
    flex-direction: column;
    padding-top: 96px;
    padding-bottom: 0;
  }

  .container.columns.clearpaddingbottom.extrapaddingtop.gsu-landing-container {
    flex-direction: column;
    padding-bottom: 0;
  }

  .container.containerdescription {
    padding-top: 96px;
    padding-bottom: 0;
  }

  .container.containerpromovid {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .container.containerfooter {
    padding-top: 96px;
  }

  .container.extrapaddingbottom {
    padding-bottom: 96px;
  }

  .container.gsu-embed-container {
    grid-column-gap: 72px;
    grid-row-gap: 72px;
  }

  .headerclient {
    height: 320px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .headerclient.siden {
    padding-left: 48px;
    padding-right: 48px;
  }

  .projectlogo {
    height: 64px;
    position: relative;
  }

  .section.iflixconcepts {
    background-size: cover, auto;
  }

  .section.background4-0 {
    background-position: 100% 101%;
    background-size: 150%;
  }

  .section.sidencenterfold {
    height: 420px;
  }

  .paragraph1 {
    font-size: 32px;
    line-height: 40px;
  }

  .recentprojects {
    grid-template-columns: 1fr 1fr;
    margin-top: 48px;
  }

  .column.profileimage {
    align-items: flex-end;
    display: flex;
  }

  .column.profilecontent {
    padding-top: 0;
    padding-bottom: 0;
  }

  .contacts {
    padding-bottom: 96px;
  }

  .contact {
    width: 64px;
    height: 64px;
  }

  .footerparagraph {
    font-size: 16px;
    line-height: 24px;
  }

  .column1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .column1.reversepadding {
    padding-left: 0;
  }

  .column2 {
    justify-content: center;
    padding-left: 0;
    display: flex;
  }

  .column2.reversepadding {
    padding-right: 0;
  }

  .header-image {
    width: 480px;
    height: 384px;
    right: 0%;
  }

  .header-image.iflix {
    right: -5%;
  }

  .header-image.siden {
    right: -10%;
  }

  .header-image.edgelabs {
    width: auto;
    height: 120%;
    max-width: none;
    top: -10%;
    bottom: auto;
    left: -30%;
    right: 0%;
  }

  .header-image.getsetup {
    width: 540px;
    right: -15%;
  }

  .image-container.iflix4-0 {
    width: 70%;
    margin-top: 48px;
  }

  .moreprojects {
    grid-row-gap: 48px;
    grid-template-columns: 1fr 1fr;
  }

  .iflix3-0-grid {
    margin-bottom: 48px;
  }

  .paragraph2 {
    font-size: 20px;
    line-height: 28px;
  }

  .cover-logo {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .profileimage {
    width: 80%;
    margin-top: 48px;
  }

  .grid {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .list {
    width: 90%;
  }

  .img-siden-dashboard {
    margin-top: 48px;
  }

  .footericon {
    font-size: 32px;
    line-height: 32px;
  }

  .references {
    grid-row-gap: 64px;
    grid-template-columns: 1fr;
  }

  .referee {
    margin-top: -8px;
  }

  .deviceanimation {
    width: 32px;
    height: 32px;
  }

  .grid3, .grid-2 {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .hide-tablet {
    display: none;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .padding-xlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .gsu-circle {
    height: 200px;
  }

  .gsu-embeds-description {
    font-size: 16px;
    line-height: 24px;
  }

  .gsu-embed-logo {
    width: auto;
    height: 32px;
  }

  .gsu-landing-container {
    padding-top: 48px;
  }

  .gsu-mobile-description, .gsu-landing-info {
    font-size: 16px;
    line-height: 24px;
  }

  .gsu-embed-columns {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .gsu-original-grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  h1, h2 {
    font-size: 48px;
    line-height: 56px;
  }

  h3 {
    font-size: 32px;
    line-height: 40px;
  }

  .location {
    margin-top: -4px;
  }

  .locationtext {
    font-size: 28px;
    line-height: 28px;
  }

  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container.containerclient {
    padding-bottom: 32px;
  }

  .container.columns.switchcolumns.extrapaddingbottom {
    padding-bottom: 64px;
  }

  .container.columns.ratings {
    flex-direction: column-reverse;
  }

  .container.columns.siden-dashboard {
    padding-top: 64px;
  }

  .container.containermorework {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .container.containerdescription {
    padding-top: 64px;
  }

  .container.containerpromovid {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .container.extrapaddingbottom {
    padding-bottom: 64px;
  }

  .container.gsu-embed-container {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
  }

  .headerclient {
    height: 240px;
    margin-top: 56px;
  }

  .headerclient.siden {
    padding-left: 32px;
    padding-right: 32px;
  }

  .projectlogo {
    height: 48px;
  }

  .section {
    padding-left: 32px;
    padding-right: 32px;
  }

  .section.nav {
    height: 56px;
  }

  .section.sidencenterfold {
    height: 320px;
  }

  .section.clearpadding {
    padding-left: 0;
    padding-right: 0;
  }

  .paragraph1 {
    font-size: 24px;
    line-height: 34px;
  }

  .recentprojects {
    grid-row-gap: 64px;
    grid-template-columns: 1fr;
    margin-top: 32px;
  }

  .clientlogo {
    height: 32px;
    margin: 16px;
  }

  .clientlogos {
    margin-top: 0;
  }

  .contacts {
    padding-bottom: 96px;
  }

  .cover-heading {
    margin-bottom: 24px;
  }

  .header-image {
    width: 342px;
    height: 288px;
  }

  .header-image.getsetup {
    width: 380px;
  }

  .image-container.iflix4-0 {
    margin-top: 40px;
  }

  .moreprojects {
    grid-column-gap: 16px;
    grid-row-gap: 32px;
  }

  .iflix3-0-grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .paragraph2 {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  .cover-logo {
    height: 48px;
    margin-bottom: 16px;
  }

  .profileimage {
    margin-top: 24px;
  }

  .navlogo {
    font-size: 20px;
    line-height: 20px;
  }

  .icon.iconlocation, .navcontact {
    font-size: 24px;
    line-height: 24px;
  }

  .grid {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .list {
    width: 100%;
  }

  .screen-caption {
    font-size: 14px;
    line-height: 22px;
  }

  .references {
    grid-row-gap: 48px;
  }

  .quotations {
    width: 64px;
    padding-bottom: 64px;
  }

  .deviceanimation {
    width: 28px;
    height: 28px;
  }

  .grid3 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .shadow64.gsu-embed-aol, .embed-2 {
    width: 100%;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .fs-styleguide_heading-large {
    font-size: 3rem;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .fs-styleguide_version {
    font-size: .875rem;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .gsu-circle {
    display: none;
  }

  .gsu-landing-info {
    margin-bottom: 16px;
  }

  .gsu-embed-columns {
    grid-column-gap: 96px;
    grid-row-gap: 96px;
    flex-direction: column-reverse;
  }

  .gsu-original-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 40px;
    line-height: 48px;
  }

  h2 {
    margin-bottom: 8px;
    font-size: 32px;
    line-height: 40px;
  }

  h3 {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 32px;
  }

  .header {
    height: 90vh;
  }

  .location {
    margin-top: -12px;
  }

  .locationtext {
    margin-left: 8px;
    font-size: 20px;
    line-height: 24px;
  }

  .container {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .container.containerclient {
    padding-bottom: 24px;
  }

  .container.columns.switchcolumns.extrapaddingbottom {
    padding-bottom: 48px;
  }

  .container.containermorework {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .container.containerdescription {
    padding-top: 64px;
  }

  .container.containerpromovid {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .container.extrapaddingbottom {
    padding-bottom: 48px;
  }

  .headerclient {
    height: 160px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .headerclient.siden {
    height: 160px;
  }

  .projectlogo {
    height: 30px;
  }

  .section {
    padding-left: 24px;
    padding-right: 24px;
  }

  .section.sidencenterfold {
    height: 180px;
  }

  .paragraph1 {
    font-size: 18px;
    line-height: 26px;
  }

  .recentprojects {
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
    margin-top: 24px;
  }

  .button {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
  }

  .paragraph4 {
    font-size: 16px;
    line-height: 24px;
  }

  .clientlogo {
    height: 24px;
    margin: 12px;
  }

  .clientlogos {
    margin-top: 0;
  }

  .contacts {
    padding-bottom: 96px;
  }

  .contact {
    width: 48px;
    height: 48px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 32px;
    line-height: 32px;
  }

  .footerparagraph {
    font-size: 14px;
    line-height: 20px;
  }

  .column1 {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .column2 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .cover-heading {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .indicatorcontainer {
    width: 20px;
  }

  .indicator {
    width: 20px;
    height: 20px;
    border-width: 2px;
  }

  .header-image {
    width: 257px;
    height: 218px;
  }

  .header-image.iflix {
    right: -10%;
  }

  .header-image.siden {
    width: 200px;
    height: 160px;
    right: -10%;
  }

  .header-image.getsetup {
    width: 240px;
    right: -20%;
  }

  .image-container.iflix4-0 {
    margin-top: 32px;
  }

  .moreprojectscaption {
    font-size: 12px;
    line-height: 16px;
  }

  .iflix3-0-grid {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }

  .cover-logo {
    height: 32px;
  }

  .iconlocation {
    width: 16px;
  }

  .icon.iconlocation {
    width: auto;
    font-size: 16px;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footericon {
    font-size: 24px;
    line-height: 24px;
  }

  .reference-avatar {
    width: 48px;
  }

  .reference-name {
    margin-left: 16px;
  }

  .referee-name {
    font-size: 16px;
    line-height: 24px;
  }

  .referee-position {
    font-size: 14px;
    line-height: 22px;
  }

  .quotations {
    width: 48px;
    padding-bottom: 48px;
  }

  .deviceanimation {
    width: 20px;
    height: 20px;
  }

  .grid3 {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .gsu-embed-logo {
    height: 24px;
  }

  .gsu-embed-columns {
    grid-column-gap: 72px;
    grid-row-gap: 72px;
  }
}

#w-node-_87bafa99-1750-b194-3241-240ce204ca4c-95d89641, #w-node-_6204e99d-fb6d-005c-2769-88b4595531b1-95d89641, #w-node-b3a83978-b9fd-c5eb-5d17-57f82f8389cc-95d89641, #w-node-b3a83978-b9fd-c5eb-5d17-57f82f8389cd-95d89641, #w-node-_2d5d5679-63e6-16f9-1dfe-72da89f97106-95d89641, #w-node-_2d5d5679-63e6-16f9-1dfe-72da89f97107-95d89641, #w-node-_04db69f4-3cf9-622f-b2b4-38ad6362fdcf-95d89641, #w-node-_3ea92c89-aea4-12ca-9a60-1828c8717bb2-95d89641, #w-node-b8f1b355-1ee2-359e-32dd-641304d9644a-95d89641, #w-node-b8f1b355-1ee2-359e-32dd-641304d9644b-95d89641, #w-node-a1e29cfc-92dd-d4a1-daa6-20057a8904c8-95d89641, #w-node-a1e29cfc-92dd-d4a1-daa6-20057a8904c9-95d89641 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d6b3-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d6b8-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d6bd-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d6c2-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d6c8-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d6ce-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d6d4-a1cdbc8e {
  justify-self: start;
}

#w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d7e1-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d7fa-a1cdbc8e {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d7fd-a1cdbc8e {
  justify-self: start;
}

#w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d7ff-a1cdbc8e {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d802-a1cdbc8e {
  justify-self: start;
}

#w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d86b-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d875-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d876-a1cdbc8e {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d8e4-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d8e9-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d8ee-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d8f3-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d8f8-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d8fd-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d907-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d90c-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d911-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d916-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d91b-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d920-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d925-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d92a-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d92f-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d934-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d939-a1cdbc8e {
  justify-self: start;
}

#w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d93d-a1cdbc8e {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d93e-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d943-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d948-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d94d-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d962-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d967-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d96c-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d971-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d976-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d97b-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d985-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d98a-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d98f-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d994-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d999-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d99e-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9a3-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9a8-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9ad-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9b2-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9b7-a1cdbc8e {
  justify-self: start;
}

#w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9bb-a1cdbc8e {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9bc-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9c1-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9c6-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9cb-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9dd-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9e2-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9e7-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9ec-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9f1-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9f6-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1d9fb-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1da00-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1da05-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1da0a-a1cdbc8e {
  justify-self: start;
}

#w-node-_2d9d9939-733a-8554-a6fa-6fc322f1da0e-a1cdbc8e {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2d9d9939-733a-8554-a6fa-6fc322f1da0f-a1cdbc8e {
  justify-self: start;
}

#w-node-_2d9d9939-733a-8554-a6fa-6fc322f1da12-a1cdbc8e, #w-node-_2d9d9939-733a-8554-a6fa-6fc322f1da95-a1cdbc8e {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2d9d9939-733a-8554-a6fa-6fc322f1daf1-a1cdbc8e {
  justify-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-f08f1e80-0445-7b72-4e0d-4a537e3018da-9c7865e7 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}


@font-face {
  font-family: 'Icomoon';
  src: url('../fonts/icomoon.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}