/**************************************************/
// IMPORTS
/**************************************************/

// MIXINS
/*************************/

@import "compass/reset";
@import "compass/css3/";

// STYLESHEETS
/*************************/

@import "normalize.scss";
@import "foundation/_settings.scss";
@import "foundation.scss";
@import "fonts.scss";
@import "slick.scss";
@import "slick-theme.scss";

/**************************************************/
// VARIABLES
/**************************************************/

// LAYOUT
/*************************/

// FONTS

$font-thin					: 'lasiverthin';
$font-regular				: 'lasiverregular';
$font-script				: 'learning_curve_proregular';
$icons						: 'icomoon';

// COLOURS

$white						: #FFFFFF;
$black						: #000000;
$text-black					: #36363a;
$text-grey					: #bccbcf;
$text-grey-dark				: #97a6aa;

/**************************************************/
// GLOBAL STYLES
/**************************************************/

// RESET
/*************************/

div, a, h1, h2, h3, h4, p, header, section, footer{
	outline: none;
	&:focus{outline: none;}
}

// LAYOUT
/*************************/

$gutter-full				: 1.250em;
$gutter-half				: 0.625em;
$gutter-quarter				: 0.3125em;

// TYPOGRAPHY
/*************************/

h1, h2, p{color: $white}
h2{margin-bottom: 30px}
p{
	font-size: 14px;
	font-family: $font-regular;
}

h1, h2{
	font-family: $font-script;
	font-size: 60px;
	text-align: center;
}
a, a:visited{
	color: $text-grey-dark;
	&:hover{color: $text-grey}
}

body{
	position: relative;
	background: $black;

	/**************************************************/
	// BACKGROUND
	/**************************************************/
	
	.background, .blurred-background{
		position: fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		background: black center top no-repeat;
		background-size: cover;
	}

	.background{
		z-index: 1;
		background-image: url(../images/background_1280.jpg);
		@media #{$medium-up}{background-image: url(../images/background_1920.jpg);}
		@media #{$xxlarge-up}{background-image: url(../images/background_3264.jpg);}

		.blurred-background { 
			opacity: 0;
			background-image: url(../images/background_blurred_640.jpg);
			@media #{$medium-up}{background-image: url(../images/background_blurred_1280.jpg);}
			@media #{$xlarge-up}{background-image: url(../images/background_blurred_1920.jpg);}

			// -webkit-filter: blur(40px) brightness(0.7);
		 	// -ms-filter: blur(40px) brightness(0.7);
		 	// -o-filter: blur(40px) brightness(0.7);
		 	// filter: blur(40px) brightness(0.7);
		 	// background-image: url(../images/background_1280.jpg);
			// @media #{$medium-up}{background-image: url(../images/background_1920.jpg);}
			// @media #{$xxlarge-up}{background-image: url(../images/background_3264.jpg);}
		}
	}

	/**************************************************/
	// CONTAINER
	/**************************************************/

	.container{
		position: relative;
		z-index: 3;

		/**************************************************/
		// HEADER
		/**************************************************/

		.header{
			padding: 140px 0 120px 0;
			text-align: center;
			@media #{$medium-up}{padding: 200px 0 150px 0;}

			h1{
				padding: 0;
				.tagline{font-size: 0}
			}

			img{
				margin-top: -40px;
				width: 564px;
			}
		}

		section:not(#home){
			padding: 30px 0;
			@media #{$medium-up}{padding: 50px 0;}
		}

		/**************************************************/
		// GALLERY
		/**************************************************/

		.gallery{
			padding: $gutter-half;
			background: rgba($white, 0.2);

			article{
				padding: $gutter-quarter;
				float: left !important;
				@media #{$medium-up}{padding: $gutter-half;}

				div{
					position: relative;
					background: $black;
					overflow: hidden;

					&:before{
						position: absolute;
						bottom: 40%;
						left: 50%;
						opacity: 0;
						margin-bottom: -14px;
						margin-left: -14px;
						font-family: $icons;
						content: '\ed5e';
						font-size: 28px;
						color: $white;
						display: inline-block;
						@include transition-property(bottom, opacity);
						@include transition-duration(0.2s);
						@include transition-timing-function(ease-out);
					}
				}

				img{
					@include transition-property(opacity);
					@include transition-duration(0.2s);
					@include transition-timing-function(ease-out);
				}

				&:hover{
					cursor: pointer;

					img{opacity: 0.6}

					div:before{
						bottom: 50%;
						opacity: 1;
					}
				}
			}
		}

		/**************************************************/
		// ABOUT
		/**************************************************/

		section.about{
			text-align: center;
			

			.columned-article{
				padding-left: $gutter-full;
				padding-right: $gutter-full;
				@include column-count(1);
				text-align: left;
				@media #{$medium-up}{@include column-count(2);}
				@media #{$large-up}{@include column-count(3);}
			}
		}

		/**************************************************/
		// FOOTER
		/**************************************************/

		footer.contact{
			text-align: center;
			padding-bottom: 100px;
			@media #{$medium-up}{padding-bottom: 200px;}

			ul{
				border-top: 1px solid rgba($white, 0.3);
				display: inline-block;
				padding-top: 50px;
				margin-left: 0;

				li{
					display: inline-block;
					padding: 0 5px;
					@media #{$medium-up}{padding: 0 10px;}

					&:first-child{padding-left: 0}
					&:last-child{padding-right: 0}

					a{
						-webkit-font-smoothing: antialiased;
						font-family: $icons;
						width: 60px; height: 60px;
						line-height: 55px;
						display: inline-block;
						vertical-align: top;
						background-color: rgba($white, 0.1);
						border: 2px solid rgba($white, 0.5);
						text-align: center;
						font-size: 20px;
						border-radius: 200px;
						color: $white;
						@include transition-property(background-color);
						@include transition-duration(0.2s);
						@include transition-timing-function(ease-out);
		
						@media #{$medium-up}{
							font-size: 30px;
							width: 80px; height: 80px;
							line-height: 76px;
						}

						&:hover{background: rgba($white, 0.2)}

						&.version{
							font-family: $font-regular;
							font-size: 16px;
							@media #{$medium-up}{font-size: 22px}
						}
					}
				}
			}
		}
	}

	/**************************************************/
	// PROJECT MODAL
	/**************************************************/

	.reveal-modal{
		position: absolute;
		border-radius: 0 !important;
		border: none;
		padding: $gutter-full $gutter-half $gutter-half $gutter-half !important;
		@media #{$small-only}{top: 0 !important;}
		@media #{$medium-up}{min-height: 560px;}

		&:focus{outline: none}

		h3, p{color: $text-black}

		h3{
			font-family: $font-script;
			font-size: 60px;
			line-height: 50px;
		}
		
		.project-image{
			margin: -1.250rem;
			position: relative;
			margin-bottom: 0;
			overflow: hidden;
			max-height: 560px;

			@media #{$medium-up}{
				margin: 0;
				margin-bottom: $gutter-half;
			}

			&:hover{
				.slick-prev, .slick-next{background: rgba($black,0.2);}
			}

			.slick-prev, .slick-next{
				display: none !important;
				font-size: 0;
				padding: 15px;
				position: absolute;
				top: 50%;
				margin-top: -30px;
				color: $white;
				cursor: pointer;
				z-index: 100;
				background: rgba($black,0.1);
				border-radius: 200px;
				@include transition-property(background);
				@include transition-duration(0.3s);
				@media #{$medium-up}{display: inline-block !important;}

				&:hover{
					background: rgba($black,0.4);
				}
			}

			.slick-prev{
				left: 20px;
				content: '\edc3' !important;				
			}
			.slick-next{
				right: 20px;
				content: '\edbb' !important;
			}
		}

		.swipe-instructions{
			padding-top: 20px;
			font-family: $font-regular;
			text-align: center;
			font-style: italic;
			font-size: 14px;
			color: $text-grey-dark;
		}

		.project-thumbs{
			display: none;
			padding: $gutter-quarter;

			@media #{$medium-up}{
				padding: 0;
				display: block;
			}

			li{
				padding: $gutter-quarter;
				cursor: pointer;
				float: left !important;
				@media #{$medium-up}{padding: $gutter-half;}

				div{background: $black}
				img{width: 100%}
				&:hover img{opacity: 0.7}
			}
		}

		.info{
			padding-top: 20px;
			padding-bottom: 20px;
			@media #{$medium-up}{padding-top: 0;}
		}

		.close-reveal-modal{
			position: fixed;
			top: 0; right: 0;
			padding: 10px;
			display: inline-block;
			font-family: $icons;
			font-size: 20px;
			border-radius: 0 0 0 4px;
			color: $text-grey;
			background: $white;

			@media #{$medium-up}{
				position: absolute;
				padding: 15px;
			}

			&:hover{color: $text-grey-dark}
		}
	}
}

/**************************************************/
// UNDER CONSTRUCTION
/**************************************************/

body.under-construction{
	position: relative;
	text-align: center;
	background: black center top no-repeat fixed;
	background-size: cover;
	background-image: url(../images/background_blurred_640.jpg);
	@media #{$medium-up}{background-image: url(../images/background_blurred_1280.jpg);}
	@media #{$xlarge-up}{background-image: url(../images/background_blurred_1920.jpg);}

	.cta-outer {
	    display: table;
	    position: absolute;
	    height: 100%;
	    width: 100%;
	}

	.cta-inner {
	    display: table-cell;
	    vertical-align: middle;
	}

	.cta-content {
	    margin: -100px auto 0 auto; 
	    width: 100%;
	}

	h1{
		font-family: $font-thin;
		margin-top: 20px;
		width: 100%;
		font-size: 40px;
		padding: 0 40px;
		-webkit-font-smoothing: antialiased;

		span{
			font-family: $font-script;
			font-size: 60px;
			padding-right: 10px;
			display: block;
			@media #{$medium-up}{display: inline;}
		}
	}
}