@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon--iozybn.eot');
	src:url('fonts/icomoon-.eot#iefix-iozybn') format('embedded-opentype'),
		url('fonts/icomoon--iozybn.woff') format('woff'),
		url('fonts/icomoon--iozybn.ttf') format('truetype'),
		url('fonts/icomoon--iozybn.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icon-00:before {
	content: "\e600";
}
.icon-icon-01:before {
	content: "\e601";
}
.icon-icon-02:before {
	content: "\e602";
}
.icon-icon-03:before {
	content: "\e603";
}
.icon-icon-04:before {
	content: "\e604";
}
.icon-icon-05:before {
	content: "\e605";
}
.icon-icon-06:before {
	content: "\e606";
}
.icon-icon-07:before {
	content: "\e607";
}
.icon-icon-08:before {
	content: "\e608";
}

@font-face {
    font-family: 'metapronormalitalic';
    src: url('fonts/metapro-normalitalic-webfont.eot');
    src: url('fonts/metapro-normalitalic-webfont-.eot#iefix') format('embedded-opentype'),
         url('fonts/metapro-normalitalic-webfont.woff') format('woff'),
         url('fonts/metapro-normalitalic-webfont.ttf') format('truetype'),
         url('fonts/metapro-normalitalic-webfont.svg#metapronormalitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'metapronormal';
    src: url('fonts/metapro-normal-webfont.eot');
    src: url('fonts/metapro-normal-webfont-.eot#iefix') format('embedded-opentype'),
         url('fonts/metapro-normal-webfont.woff') format('woff'),
         url('fonts/metapro-normal-webfont.ttf') format('truetype'),
         url('fonts/metapro-normal-webfont.svg#metapronormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
